[submodule "external/baseclasses"]
	path = external/baseclasses
	url = https://github.com/krkrz/baseclasses.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/krkrz/freetype.git
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/krkrz/libjpeg-turbo.git
[submodule "external/lpng"]
	path = external/lpng
	url = https://github.com/krkrz/libpng.git
[submodule "external/onig"]
	path = external/onig
	url = https://github.com/krkrz/oniguruma.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/krkrz/zlib.git
[submodule "external/jxrlib"]
	path = external/jxrlib
	url = https://github.com/krkrz/jxrlib.git
